@font-face {
  font-family: 'utpal';
  src:
    url('fonts/utpal.ttf?io47uo') format('truetype'),
    url('fonts/utpal.woff?io47uo') format('woff'),
    url('fonts/utpal.svg?io47uo#utpal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="utpal-icon-"], [class*=" utpal-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'utpal' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.utpal-icon-comment:before {
  content: "\e900";
}
.utpal-icon-express:before {
  content: "\e901";
}
.utpal-icon-laravel:before {
  content: "\e902";
}
.utpal-icon-linux:before {
  content: "\e903";
}
.utpal-icon-mongodb:before {
  content: "\e904";
}
.utpal-icon-mysql:before {
  content: "\e905";
}
.utpal-icon-nginx:before {
  content: "\e906";
}
.utpal-icon-nodedotjs:before {
  content: "\e907";
}
.utpal-icon-react:before {
  content: "\e908";
}
.utpal-icon-typescript:before {
  content: "\e909";
}
.utpal-icon-vuedotjs:before {
  content: "\e90a";
}
.utpal-icon-linkedin:before {
  content: "\e90b";
}
.utpal-icon-twitter:before {
  content: "\e90c";
}
.utpal-icon-github:before {
  content: "\e90d";
}
